html {
  font-size: 50px;
}
#mobileheader {
  flex: 1;
  background:#f6f6f6;
  header {
    border-bottom: 1px solid #2db7f5;
    padding-left: 10px;
    img {
      height: 50px;
    }
    span {
      font-size: 35px;
      vertical-align: top;
      padding-left: 5px;
      color: #2db7f5;
    }
  }
  i {
    font-size: .5rem;
    float: right;
    margin-right: .3rem;
    margin-top: .3rem;
    color: #2db7f5;
  }
}
