body {
  background:red;
}
.logo{
  align-items: center;
  display: flex;
  img {
    width: 48px;
    height: 48px;
  }
  span {
    font-size: 16px;
    padding-left: 5px;
  }
}
.footer {
  text-align: center;
}
